
@{
    ViewData["Title"] = "Управление";
}
<h2>Управление</h2>
<ul class="nav nav-pills">
    <li class="active"><a href="~/Phones/AddMobile">Добавить</a></li>
    <li><a href="~/Phones/EditPage">Редактировать / Удалить</a></li>
    <!--<li><a href="~/Phones/Delete">Удалить</a></li>-->
</ul>